body {
    background-color: rgb(50, 50, 50);
    width: 100vw;
    height: 100vh;
    margin: 0;
}


#sudokuElement {
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
}

.sudokuRow {
    display: flex;
    flex-direction: row;
}

.sudokuRow input {
    height: 2rem;
    width: 2rem;
    text-align: center;
    /* margin: 0; */
    /* margin-left: 0.5rem;
    margin-right: 0.5rem; */
    /* color: white; */
    /* line-height: 95%; */
}

/* Chrome, Safari, Edge, Opera */
.sudokuRow input::-webkit-outer-spin-button,
.sudokuRow input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#solvedElement {
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
}
